* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2EAE2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #6C7289;
}

h1,
.new__price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: #1C232B;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.6rem;
  max-width: 343px;
}

.card__img {
  height: 240px;
}

.card__img .desktop__img {
  display: none;
}

.card__img img {
  width: 100%;
  height: 240px;
  border-radius: 1rem 1rem 0 0;
}

.card__content {
  padding: 2.4rem;
  border-radius: 0 0 1rem 1rem;
  background-color: #fff;
}

.card__content .product__type {
  font-size: 1.2rem;
  line-height: 1.463rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.card__content .product__name {
  margin-top: 1.2rem;
  font-size: 3rem;
  line-height: 3.2rem;
}

.card__content .product__description {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.card__content .price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.4rem;
}

.card__content .price__container .new__price {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-right: 2.4rem;
  color: #3D8168;
}

.card__content .price__container .old__price {
  font-size: 1.3rem;
  line-height: 2.3rem;
  text-decoration: line-through;
}

.card__content .add__to__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 2rem;
  background-color: #3D8168;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.707rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.card__content .add__to__cart:hover {
  background-color: #1A4032;
}

.card__content .add__to__cart img {
  width: 14px;
  margin-right: 1.161rem;
}

@media screen and (min-width: 992px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    max-width: 600px;
    height: 450px;
  }
  .card__img .mobile__img {
    display: none;
  }
  .card__img .desktop__img {
    display: block;
  }
  .card__img img {
    width: 300px;
    height: 450px;
    border-radius: 1rem 0 0 1rem;
  }
  .card__content {
    padding: 3.2rem;
    border-radius: 0 1rem 1rem 0;
  }
  .card__content .product__name {
    margin-top: 2rem;
  }
  .card__content .product__description {
    margin-top: 2.4rem;
  }
  .card__content .price__container {
    margin-top: 2.9rem;
  }
  .card__content .add__to__cart {
    margin-top: 4.5rem;
  }
}
